<section class="section section--featured-in">
  <div class="section__content">
    <h2>Featured In</h2>
  </div>

  <ul class="logo-grid">
    <li><img src="/assets/images/logos/shark-tank-logo.png" alt="Shark Tank"></li>
    <li><img src="/assets/images/logos/new-york-times-logo.png" alt="The New York Times"></li>
    <li><img src="/assets/images/logos/techcrunch-logo.png" alt="TechCrunch"></li>
    <li><img src="/assets/images/logos/the-washington-post-logo.png" alt="The Washington Post"></li>
    <li><img src="/assets/images/logos/slj-logo.png" alt="School Library Journal"></li>
    <li><img src="/assets/images/logos/red-tricycle-logo.png" alt="Red Tricycle"></li>
    <li><img src="/assets/images/logos/cool-mom-picks-logo.png" alt="Cool Mom Picks"></li>
    <li><img src="/assets/images/logos/popsugar-logo.png" alt="Popsugar"></li>
  </ul>
</section>
