<section class="section--intro">
  <h3>Kids read more with this fun, interactive tool.</h3>
  <p>Kids who read 20 minutes a day take in 1.8 million more words each year and perform better academically. Hourglass motivates your child to read more by making reading fun and easy to track. It combines an age-old tool with a modern user experience while minimizing distractions from electronic devices and paper reading logs.</po>

  <div class="circle-1"></div>
  <div class="circle-2"></div>
  <div class="circle-3"></div>
</section>
