<section class="section section--app">
  <div class="section__content">
    <h2>Pairs with Mobile App for Easy Tracking</h2>
    <p>Using the Hourglass with the Beanstack mobile app can give you more insight into your child’s reading. View detailed stats about reading sessions, including badges earned, books completed, total time spent reading, and more. You can even switch between multiple family members’ accounts with a quick tap.</p>
  </div>

  <div class="section--app__image">
    <img class="section--app__device" src="/assets/images/mobile-app.jpg" alt="Screenshot of Beanstack app showing reading statistics by week">
  </div>

  <div class="confetti">
    <img src="/assets/images/confetti.jpg" alt="">
  </div>
</section>
