<section class="section section--challenges">
  <div class="section__content">
    <h2>Access Reading Challenges to Stay Motivated</h2>
    <p>Time-bound and themed reading challenges are fun for kids and typically motivate them to read over 20% more each day. The Hourglass gives families free access to local, national, and school-based reading challenges through the Beanstack app. These challenges may reward individual kids with prizes or give them a way to contribute to a good cause.</p>
  </div>

  <div class="section--challenges__challenges-list">

    <div class="challenge">
      <div class="challenge__card">
        <div class="challenge__date">
          <span class="challenge__date__time"><strong>Starts: </strong><time>September 15, 2018</time></span>
          <span class="challenge__date__time"><strong>Ends: </strong><time>October 15, 2018</time></span>
        </div>

        <div class="challenge__primary">
          <div class="challenge__images">
            <img class="challenge__image__primary" src="/assets/images/challenge-images/back-to-school--primary.jpg" alt="">
            <img class="challenge__image__secondary" src="/assets/images/challenge-images/back-to-school--secondary.jpg" alt="">
          </div>

          <div class="challenge__title">
            <span>Back to School Challenge</span>
          </div>
        </div>
      </div>

      <span class="challenge__sponsor">Sponsored by Junior Library Guild</span>
    </div>

    <div class="challenge">
      <div class="challenge__card">
        <div class="challenge__date">
          <span class="challenge__date__time"><strong>Starts: </strong><time>January 1, 2019</time></span>
          <span class="challenge__date__time"><strong>Ends: </strong><time>January 31, 2019</time></span>
        </div>

        <div class="challenge__primary">
          <div class="challenge__images">
            <img class="challenge__image__primary" src="/assets/images/challenge-images/winter-reading--primary.jpg" alt="">
            <img class="challenge__image__secondary" src="/assets/images/challenge-images/winter-reading--secondary.jpg" alt="">
          </div>

          <div class="challenge__title">
            <span>Mark Cuban's Winter Reading Challenge</span>
          </div>
        </div>
      </div>

      <span class="challenge__sponsor">Sponsored by Mark Cuban</span>
    </div>

    <div class="challenge">
      <div class="challenge__card">
        <div class="challenge__date">
          <span class="challenge__date__time"><strong>Starts: </strong><time>March 2, 2019</time></span>
          <span class="challenge__date__time"><strong>Ends: </strong><time>March 8, 2019</time></span>
        </div>

        <div class="challenge__primary">
          <div class="challenge__images">
            <img class="challenge__image__primary" src="/assets/images/challenge-images/read-across-america--primary.jpg" alt="">
            <img class="challenge__image__secondary" src="/assets/images/challenge-images/read-across-america--secondary.jpg" alt="">
          </div>

          <div class="challenge__title">
            <span>Read Across America Challenge</span>
          </div>
        </div>
      </div>

      <span class="challenge__sponsor">Sponsor to be announced</span>
    </div>

    <div class="challenge">
      <div class="challenge__card">
        <div class="challenge__date">
          <span class="challenge__date__time"><strong>Starts: </strong><time>June 1, 2019</time></span>
          <span class="challenge__date__time"><strong>Ends: </strong><time>July 31, 2019</time></span>
        </div>

        <div class="challenge__primary">
          <div class="challenge__images">
            <img class="challenge__image__primary" src="/assets/images/challenge-images/summer-reading--primary.jpg" alt="">
            <img class="challenge__image__secondary" src="/assets/images/challenge-images/summer-reading--secondary.jpg" alt="">
          </div>

          <div class="challenge__title">
            <span>Summer Reading Challenge</span>
          </div>
        </div>
      </div>

      <span class="challenge__sponsor">Sponsored by School Library Journal</span>
    </div>


    <div class="challenges__bean">
      <img src="/assets/images/challenges-bean.svg" alt="">
    </div>
  </div>


</section>
