<section class="section section--graph">
  <div class="section__content">
    <h2>The Power of Reading</h2>
    <p>Just a few minutes per day exposes kids to millions of words per year.</p>
  </div>

  <div class="graph">
    <div class="graph__datapoint graph__datapoint--featured">
      <span class="graph__datapoint__label--time">20 Minutes <span class="graph__datapoint__label--subtext">per day</span></span>
      <span class="graph__datapoint__label--words">1.8 million <span class="graph__datapoint__label--description">more words per year</span></span>
      <span class="graph__datapoint__bar" data-percentage="100" data-animate data-animation-classes="visible"></span>
    </div>

    <div class="graph__datapoint graph__datapoint--medium">
      <span class="graph__datapoint__label--time">10 Minutes <span class="graph__datapoint__label--subtext">per day</span></span>
      <span class="graph__datapoint__label--words">622,000 more words</span>
      <span class="graph__datapoint__bar" data-percentage="33.2" data-animate data-animation-classes="visible"></span>
    </div>

    <div class="graph__datapoint graph__datapoint--small">
      <span class="graph__datapoint__label--time">5 Minutes <span class="graph__datapoint__label--subtext">per day</span></span>
      <span class="graph__datapoint__label--words">282,000 more words</span>
      <span class="graph__datapoint__bar" data-percentage="15.6" data-animate data-animation-classes="visible"></span>
    </div>
  </div>

  <div class="graph__waves">
    <img src="/assets/images/graph-waves.svg" alt="">
  </div>
</section>
