<section class="section section--challenges">
  <div class="section__content">
    <h2>Access Reading Challenges to Stay Motivated</h2>
    <p>Time-bound and themed reading challenges are fun for kids and typically motivate them to read over 20% more each day. The Hourglass gives families free access to local, national, and school-based reading challenges through the Beanstack app. These challenges may reward individual kids with prizes or give them a way to contribute to a good cause.</p>
  </div>

  <div class="section--challenges__challenges-list">

    {% for hello in site.data.challenges %}
      {% include components/challenge.html challenge=hello %}
    {% endfor %}

    <div class="challenges__bean">
      <img src="/assets/images/challenges-bean.svg" alt="">
    </div>
  </div>


</section>
