<section class="section section--steps">
  <div class="step">
    <div class="step__image">
      <img src="/assets/images/steps/touch-of-magic.jpg" alt="Three Hourglasses shown together with pink, yellow, and orange night lights respectively.">
    </div>

    <div class="step__content">
      <span class="step__number">1.</span>
      <h2 class="step__name">Flip the Timer</h2>
      <p class="step__description">Turn the cordless Hourglass over to begin a reading session. Move it from bedroom, to living room, to anywhere your child reads and return to the charging station as needed.</p>
    </div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
  </div>

  <div class="step step--reversed">
    <div class="step__image">
      <img src="/assets/images/steps/becoming-brighter.jpg" alt="Four Hourglasses showing the progression of the timer light moving down the device.">
    </div>

    <div class="step__content">
      <span class="step__number">2.</span>
      <h2 class="step__name">Make the Light Brighter</h2>
      <p class="step__description">The soft LED light trickles from top to bottom and changes colors as your child reads. When your child is not reading, set it to dim to serve as a night light.</p>
    </div>
    <div class="circle-3"></div>
  </div>

  <div class="step">
    <div class="step__image">
      <img src="/assets/images/steps/all-in-sync.jpg" alt="Hourglass with a screenshot of the Beanstack app indicating the Hourglass can be synced to the app through Bluetooth.">
    </div>

    <div class="step__content">
      <span class="step__number">3.</span>
      <h2 class="step__name">Sync with the Mobile App</h2>
      <p class="step__description">Hourglass connects via bluetooth to your phone. Add your child’s reading session data to the Beanstack app to track reading and earn virtual badges.</p>
    </div>
  </div>
</section>
