<div class="section section--steps">
  <div class="step">
    <div class="step__image">
      <img src="/assets/images/steps/touch-of-magic.jpg" alt="">
    </div>

    <div class="step__content">
      <span class="step__number">01.</span>
      <h2 class="step__name">A Touch of Magic</h2>
      <p class="step__description">It’s simple: turn over the cordless hourglass to begin a reading session. Move it to wherever they read and return it to its charging dock anytime.</p>
    </div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
  </div>

  <div class="step step--reversed">
    <div class="step__image">
      <img src="/assets/images/steps/becoming-brighter.jpg" alt="">
    </div>

    <div class="step__content">
      <span class="step__number">02.</span>
      <h2 class="step__name">Becoming Brighter</h2>
      <p class="step__description">The soft LED light trickles from top to bottom and changes colors the more your child reads. It can also serve as a night light.</p>
    </div>
    <div class="circle-3"></div>
  </div>

  <div class="step">
    <div class="step__image">
      <img src="/assets/images/steps/all-in-sync.jpg" alt="">
    </div>

    <div class="step__content">
      <span class="step__number">03.</span>
      <h2 class="step__name">All In Sync</h2>
      <p class="step__description">The Hourglass connects via bluetooth to your mobile phone. Add your child’s reading session data to the Beanstack mobile app to track reading and earn virtual badges.</p>
    </div>
  </div>
</div>
