<footer class="footer">
  <div class="footer__inner">
    <div class="footer__content">
      <h2 class="footer__heading">Lifelong learning starts with just 20 minutes a day.</h2>
      <p>Pre-order now to get a discounted price and receive your Hourglass.</p>
      <ul class="footer__list">
        <li>Hourglass Reading Tracker</li>
        <li>Free Beanstack App</li>
        <li>Unlimited reading challenges</li>
      </ul>

      <div class="buy-now">
        <a href="https://www.beanstack.com/hourglassinfo" class="buy-button">Join Pre-Order List</a>
        <div class="price">
          <span class="price__regular">$49.99</span>
          <span class="price__discount">$29.99</span>
        </div>
        <span class="buy-now__note">Special pricing available for schools and libraries.</span>
      </div>
    </div>
  </div>

  <div class="footer__images">
    <div class="footer__images__hourglass">
      <img src="/assets/images/footer-image.png" alt="Hourglass and Beanstack app shown together">
    </div>

    <div class="footer__images__hand">
      <img src="/assets/images/footer-hand.png" alt="">
    </div>
  </div>
</footer>
