<header class="header" role="banner">
    <div class="header__intro">
      <h1>
        <span class="header__intro__smalltext">Introducing</span>
        Hourglass
        <span class="header__intro__smalltext header__intro__smalltext--right">by Beanstack</span>
      </h1>
    </div>
</header>

<div class="intro__cta">
  <div class="content">
    <h3 class="header__description">
      A smart night light, timer, and mobile app to track your kid's reading habits.
    </h3>

    <div class="button-container">

      <div class="buy-now">
        <a href="https://www.beanstack.com/hourglassinfo" class="buy-button">Sign up for 40% off</a>
        <div class="price">
          <span class="price__regular">$49.99</span>
          <span class="price__discount">$29.99</span>
        </div>
        <span class="buy-now__note">Special pricing available for schools and libraries.</span>
      </div>

      <div class="video-button">
        <a href="https://www.beanstack.com/hourglassinfo" class="video-button__link">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
            <path fill="#5D5D5D" fill-rule="evenodd" d="M36.0599979,21.4997558 L46.1415219,27.8007082 C47.0781949,28.3861289 47.3629413,29.6200297 46.7775206,30.5567027 C46.5999974,30.8407398 46.3539807,31.0756429 46.0620465,31.2398559 L35.9805225,36.9107132 C35.0178067,37.4522408 33.7983765,37.1108003 33.2568489,36.1480846 C33.0884571,35.8487213 33,35.5110358 33,35.1675621 L33,23.1957524 C33,22.0911829 33.8954305,21.1957524 35,21.1957524 C35.3748394,21.1957524 35.7421347,21.3010912 36.0599979,21.4997558 Z" transform="translate(-33 -21)"/>
          </svg>
          Watch the Video
        </a>
      </div>
    </div>
  </div>

  <div class="header__circles">
    <div class="circles__set-1"></div>
    <div class="circles__set-2"></div>
    <div class="circles__set-3"></div>
  </div>
</div>
