<header class="header" role="banner">
    <div class="header__intro">
      <h1>
        <span class="header__intro__smalltext">Introducing</span>
        Hourglass.
        <span class="header__intro__smalltext header__intro__smalltext--right">Your kid's Fitbit for reading.</span>
      </h1>
    </div>
</header>

<div class="intro__cta">
  <div class="content">
    <h3 class="header__description">
      A smart night light, timer, and mobile app to track your kid's reading habits.
    </h3>

    <div class="button-container">

      <div class="buy-now">
        <a data-micromodal-trigger="modal-1" class="buy-button">Get Updates</a>
        <span class="buy-now__note">Special pricing available for schools and libraries.</span>
      </div>

      <div class="video-button">
        <a class="video-button__link js-modal-btn" data-video-id="GnVh_4WC3Is">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
            <path fill="#5D5D5D" fill-rule="evenodd" d="M36.0599979,21.4997558 L46.1415219,27.8007082 C47.0781949,28.3861289 47.3629413,29.6200297 46.7775206,30.5567027 C46.5999974,30.8407398 46.3539807,31.0756429 46.0620465,31.2398559 L35.9805225,36.9107132 C35.0178067,37.4522408 33.7983765,37.1108003 33.2568489,36.1480846 C33.0884571,35.8487213 33,35.5110358 33,35.1675621 L33,23.1957524 C33,22.0911829 33.8954305,21.1957524 35,21.1957524 C35.3748394,21.1957524 35.7421347,21.3010912 36.0599979,21.4997558 Z" transform="translate(-33 -21)"/>
          </svg>
          Watch the Video
        </a>
      </div>
    </div>
  </div>

  <div class="header__circles">
    <div class="circles__set-1"></div>
    <div class="circles__set-2"></div>
  </div>
</div>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Let me know updates on the Hourglass.
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="https://zoobean.us6.list-manage.com/subscribe/post?u=e967a2b978f4de188cc945016&amp;id=1852182e3a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate modal__form" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        <div class="mc-field-group input">
        	<label for="mce-EMAIL" class="input__label">Email Address </label>
        	<input type="email" value="" name="EMAIL" class="required email input__box" id="mce-EMAIL">
        </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e967a2b978f4de188cc945016_1852182e3a" tabindex="-1" value=""></div>
            <div class="clear button-wrapper"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
      </main>
    </div>
  </div>
</div>
