<header class="header">
  <div class="header__brain">
    <img src="/assets/images/brain.png" alt="">
  </div>

  <div class="header__inner">
    <div class="header__hourglass">
      <img src="/assets/images/hourglass-alone.png" alt="">
    </div>

    <div class="header__intro">
      <h1>
        <span class="header__intro__smalltext">Introducing</span>
        Hourglass
        <span class="header__intro__smalltext header__intro__smalltext--right">by Beanstack</span>
      </h1>
    </div>

    <div class="header__description">
      Reading Light, Night Light, and Timer
    </div>

    <div class="buy-now">
      <a href="https://www.beanstack.com/hardware/beanstack-hourglass" class="buy-button">Pre-Order</a>
      <div class="price">
        <span class="price__regular">$39.99</span>
        <span class="price__discount">$29.99</span>
      </div>
    </div>
  </div>

  <div class="header__hourglass">
    <img src="/assets/images/charging-base.png" alt="">
  </div>

  <div class="header__circles">
    <div class="circles__set-1"></div>
    <div class="circles__set-2"></div>
    <div class="circles__set-3"></div>
  </div>
</header>
