$color-yellow: #FFD546;
$color-blue: #48CBB9;
$color-white: #fff;
$color-dark-purple: #D45BAD;
$color-light-purple: #D27FEB;
$color-light-gray: #EDEDED;
$color-red: #BF2235;

$color-text-light: #767676;
$color-text-regular: #545454;
$color-text-dark: #1a1a1a;
