* {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

.content {
  padding: 5em 30px;
  max-width: 1050px;
  margin: 0 auto;
  @include container();

  @include breakpoint(1050px) {
    padding-top: 8em;
  }
}

button {
  background-color: $color-blue;
  cursor: pointer;
  color: white;
  padding: 0.75em 2em;
  border-radius: 60px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border: none;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.08);
}

.price {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.price__regular {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + 6px);
    top: 50%;
    margin-top: -1.5px;
    left: 0;
    margin-left: -3px;
    background-color: $color-red;
    border-radius: 10px;
  }
}

.price__discount {
  color: $color-red;
  margin-left: 10px;
}
