* {
  box-sizing: border-box;
}

.content {
  padding: 5em 30px;
  max-width: 1050px;
  margin: 0 auto;
  overflow: hidden;

  @include breakpoint(530px) {
    padding: 5em 40px;
  }

  @include breakpoint(1020px) {
    padding-top: 8em;
  }
}

button {
  background-color: $color-blue;
  cursor: pointer;
  color: white;
  padding: 0.75em 2em;
  border-radius: 60px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  border: none;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.08);
}
