.challenge {
  margin-bottom: 50px;
  margin: 50px auto;

  @include breakpoint(530px) {
    @include column(6);
    @include last-col2;
  }

  @include breakpoint(800px) {
    @include column(5);
  }

  @include breakpoint(1050px) {
    @include column(3);
    @include last-col4;
  }
}

.challenge__card {
  background: $color-white;
  border-radius: 12px;
  box-shadow: 0 5px 28px rgba(0,0,0,.06);
  padding: 0 20px 0;
  overflow: hidden;
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.challenge__date {
  padding-bottom: 0;
  position: relative;
  width: 100%;
  color: $color-text-light;
  font-size: 14px;
  margin-bottom: 25px;

  @include breakpoint(530px) {
    margin-bottom: 0;
  }
}

.challenge__date__time {
  display: block;
}

.challenge__image__primary {
  width: calc(100% + 50px);
  position: relative;
  z-index: 100;
  margin: 0 -25px;
}

.challenge__title {
  font-size: 18px;
  @include title-face;
  font-weight: bold;
  color: $color-text-dark;
  text-align: left;
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;

  &::after {
    content: "";
    width: 30px;
    height: 7px;
    border-radius: 50px;
    background-color: $color-dark-purple;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  span {
    display: block;
    margin: 0 0 0 auto;
    line-height: 1.3;
  }
}

.challenge__sponsor {
  font-size: 14px;
  color: $color-text-light;
  display: block;
  text-align: center;
}

.challenges__bean {
  @include push-outside;
  top: -60px;
  z-index: -1;

  @include breakpoint(1050px) {
    top: -200px;
  }

  img {
    width: 75%;
    transform: translateX(-25%);

    @include breakpoint(1050px) {
      width: 50%;
    }
  }
}
