<!doctype html>
<html lang="en">
  <head>
    <title>Hourglass by Beanstack</title>

    <link rel="stylesheet" href="https://use.typekit.net/vgl8kbh.css">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Hourglass by Beanstack">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hourglass.beanstack.com">
    <meta property="og:image" content="/assets/images/og-image.png">
    <meta property="og:description" content="The Hourglass motivates your child to read more by making reading fun and easy to track. It combines an age-old tool with a modern user experience while minimizing distractions from mobile phones and paper reading logs.">
    <meta name="description" content="The Hourglass motivates your child to read more by making reading fun and easy to track. It combines an age-old tool with a modern user experience while minimizing distractions from mobile phones and paper reading logs.">
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}

      <script src="{{ "/assets/javascripts/animate.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/javascripts/main.js" | relative_url }}"></script>
    </div>
  </body>
</html>
