<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTCQFTP');</script>
    <!-- End Google Tag Manager -->
    <title>Hourglass by Beanstack</title>

    <link rel="stylesheet" href="https://use.typekit.net/vgl8kbh.css">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Hourglass by Beanstack">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hourglass.beanstack.com">
    <meta property="og:image" content="http://hourglass.beanstack.com/assets/images/social-image.jpg">
    <meta property="og:description" content="Hourglass is your kid's Fitbit for reading. It combines a smart night light with a mobile app to help keep track of your kid's reading habits and motivate them to read more.">
    <meta name="description" content="Hourglass is your kid's Fitbit for reading. It combines a smart night light with a mobile app to help keep track of your kid's reading habits and motivate them to read more.">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTCQFTP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="{{ "/assets/javascripts/modal-video.min.js" | relative_url }}"></script>
      <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
      <script src="{{ "/assets/javascripts/animate.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/javascripts/main.js" | relative_url }}"></script>
    </div>
  </body>
</html>
