<!doctype html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PTCQFTP');</script>
    <!-- End Google Tag Manager -->
    <title>Hourglass by Beanstack</title>

    <link rel="stylesheet" href="https://use.typekit.net/vgl8kbh.css">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | relative_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Hourglass by Beanstack">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://hourglass.beanstack.com">
    <meta property="og:image" content="/assets/images/og-image.png">
    <meta property="og:description" content="Hourglass motivates your child to read more by making reading fun and easy to track. It combines an age-old tool with a modern user experience while minimizing distractions from mobile phones and paper reading logs.">
    <meta name="description" content="Hourglass motivates your child to read more by making reading fun and easy to track. It combines an age-old tool with a modern user experience while minimizing distractions from mobile phones and paper reading logs.">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58254924-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58254924-10');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTCQFTP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}

      <script src="{{ "/assets/javascripts/animate.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/javascripts/main.js" | relative_url }}"></script>
    </div>
  </body>
</html>
