.section--app {
  display: flex;
  flex-direction: column;

  @include breakpoint(530px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include breakpoint(720px) {
    align-items: center;
  }

  &__content {
    order: 2;
    max-width: 40ch;
    margin: 20px auto 0;

    @include breakpoint(530px) {
      order: 1;
      margin: 0;
    }

    h2 {
      max-width: 13ch;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    order: 1;
    margin-bottom: 50px;
    width: 80vw;
    height: 80vw;
    max-width: 320px;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(530px) {
      margin: 0 -160px 50px 30px;
    }

    @include breakpoint(780px) {
      flex-shrink: 0;
      width: 390px;
      height: 390px;
      max-width: none;
      max-height: none;
      margin: 0;
      margin-left: 30px;
    }

    @include breakpoint(1150px) {
      margin-right: -60px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 5%;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('/assets/images/section-app-swirl.svg') no-repeat;
      background-size: contain;
      z-index: 100;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('/assets/images/section-app-spheres.svg') no-repeat;
      background-size: contain;
      z-index: 300;
    }
  }

  &__device {
    position: relative;
    z-index: 200;
    height: 100%;
  }
}
