.section--app {
  @include pie-clearfix;
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint(720px) {
    flex-direction: row;
  }

  @include breakpoint(1150px) {
    display: block;
  }

  .section__content {
    order: 2;

    @include breakpoint(530px) {
      @include column(12);
    }

    @include breakpoint(720px) {
      @include column(6);
    }

    @include breakpoint(950px) {
      @include column(5);
    }

    h2 {
      @include breakpoint(530px) {
        @include column(5);
      }

      @include breakpoint(720px) {
        @include column(12);
      }

      @include breakpoint(860px) {
        @include column(8);
      }
    }

    p {
      @include breakpoint(530px) {
        @include column(7);
        @include last;
      }

      @include breakpoint(720px) {
        @include column(12);
      }
    }
  }

  &__image {
    @include breakpoint(530px) {
      @include column(8);
      @include prepend(2);
      @include append(2);
    }

    @include breakpoint(720px) {
      @include column(6);
      order: 2;
    }

    @include breakpoint(950px) {
      @include column(5);
      @include prepend(2);
      @include last;
    }
  }

  &__device {
    position: relative;
    z-index: 200;
    width: 100%;
  }
}

.ice-cream {
  @include push-outside;
  top: -250px;
  display: none;

  @include breakpoint(1150px) {
    display: block;
  }

  img {
    width: 150px;
    transform: translateX(-50px) rotate(45deg);
  }
}
