.section--challenges {
  @include pie-clearfix;
  position: relative;

  .section__content {
    order: 2;

    @include breakpoint(530px) {
      @include column(12);
    }

    h2 {
      @include breakpoint(530px) {
        @include column(5);
      }

      @include breakpoint(720px) {
        @include column(6);
      }

      @include breakpoint(860px) {
        @include column(4);
      }
    }

    p {
      @include breakpoint(530px) {
        @include column(7);
        @include last;
      }

      @include breakpoint(720px) {
        @include column(6);
        @include last;
      }

      @include breakpoint(860px) {
        @include prepend(2);
        @include last;
      }
    }
  }
}

.section--challenges__challenges-list {
  @include column(12);
  @include last;
  position: relative;

  @include breakpoint(530px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(800px) {
    @include column(10);
    @include append(2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include breakpoint(1050px) {
    @include column(12);
    @include last;
    display: flex;
  }

  @include breakpoint(1340px) {
    margin-left: -($gutter_width + $column_width);
    margin-right: -($gutter_width + $column_width);
    width: auto;
  }
}
