.section--graph {
  @include pie-clearfix;
  position: relative;

  .section__content {
    @include breakpoint(530px) {
      @include column(7);
    }

    @include breakpoint(720px) {
      @include column(5);
    }

    @include breakpoint(1150px) {
      @include column(5);
      @include prepend(1);
    }
  }

  .circle-1 {
    @include breakpoint(1150px) {
      @include circle('white', 120px);
      position: absolute;
      top: 65%;
      right: -160px;
      box-shadow: 12px 9px 36px 0 rgba(0,0,0,0.08);
      animation: float 4s ease-in-out infinite alternate;
    }
  }

  .circle-2 {
    @include breakpoint(1150px) {
      @include circle('yellow', 30px);
      position: absolute;
      top: 65%;
      right: -80px;
      box-shadow: 12px 9px 36px 0 rgba(0,0,0,0.08);
      animation: float 2.4s ease-in-out infinite alternate;
    }
  }

  .circle-3 {
    @include breakpoint(1150px) {
      @include circle('purple', 40px);
      position: absolute;
      top: -15%;
      left: -100px;
      box-shadow: 12px 9px 36px 0 rgba(0,0,0,0.08);
      animation: float 2s ease-in-out infinite alternate;
    }
  }
}

.graph__waves {
  @include push-outside;
  z-index: -1;

  @include breakpoint(1050px) {
    top: -170px;
  }

  img {
    width: 125%;
    position: absolute;
    right: -50%;
    top: -20%;

    @include breakpoint(530px) {
      top: -50px;
    }

    @include breakpoint(720px) {
      width: 100%;
      top: -30px;
    }

    @include breakpoint(1050px) {
      width: 75%;
      right: -25%;
      top: 200px;

      max-width: 800px;
    }
  }
}
